.middle-align{
  text-align: center;
}

ion-card{
  --background: #fff;
}

.white-color{
  --background: #fff
}

.paypal-logo{
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.helper-buttons{
  position: fixed;
  bottom: 30px;
}