.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}


ion-card{
  --background: #fff;
}

.sync-button{
  font-size: 96px;
  height: 100%;
  width: auto;
  margin: auto;
  display: block;
}

.card-success{
  border-right: 1em solid #1fb31f;
}

.card-failure{
  border-right: 1em solid #d83232;
}

.no-content-icon{
  font-size : 96px;
}

.no-content-text{
  margin-top: 50%;
  margin-left: 25%;
  margin-right: 25%;
  color: grey;
  text-align: center;
}

.new-message {
  background: #488aff;
  color: white;
  padding: 3px;
  font-size: 10px;
  float: right;
  border-radius: 5px;
  animation: blinker 1s linear;
  animation-iteration-count: 5;
}

@keyframes blinker {
  50% { opacity: 0; }
}