<style>
  .card-success{
    background-color: #08af08;
    color: white;
  }

  .card-header{
    color: white;
  }

  .card-failed{
    background-color: #da2d2d;
    color: white;
  }
</style>

<ion-header>
  <ion-toolbar>
    <ion-title>
      Logs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card class="card-success">
    <ion-card-header >
      <ion-card-title class="card-header">RBL 5276</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>A charge of INR 368.00 has been initiated on your RBL Credit card ending with 6518 at Hns hotels private on 20-02-2019 at 10:19:32 pm IST. Your available limit is INR 155,138.02.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-failed">
    <ion-card-header >
      <ion-card-title class="card-header">Sodexo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>You have made a purchase for an amount of Rs. 35.00 on your Sodexo Card 637513-xxxxxx-0853 on 13:58,21 Feb at SUNRIO FOOD AND BEVERAGES. The available balance on your Sodexo Card is INR 10505.69.Download the Zeta App to track your spends http://bit.ly/2RySHSA.</p>
    </ion-card-content>
  </ion-card>

</ion-content>
