<ion-header>
  <ion-toolbar>
    <ion-title>Choose Message</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--<ion-list>-->
    <!--<ion-item *ngFor="let x of retrievedMessages" (click)="presentActionSheet(x.body)">-->
      <!--<ion-label>{{x.address}}</ion-label>-->
      <!--<div><p>{{x.body | slice:0:30}}</p></div>-->
    <!--</ion-item>-->
  <!--</ion-list>-->


  <ion-list>
    <ion-item *ngFor="let x of retrievedMessages" (click)="presentActionSheet(x.body)">
      <ion-label>
        <ion-text>
          <h3>{{x.address}}</h3>
          <p  class="message-date">{{x.date | date: 'dd LLL'}}</p>
        </ion-text>
        <p>{{x.body}}</p>
        <ion-text>
        </ion-text>
      </ion-label>
    </ion-item>

  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="loadMore()">
      <ion-icon name="arrow-dropdown"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!--<ion-fab vertical="bottom" horizontal="start" slot="fixed">-->
    <!--<ion-fab-button (click)="hardCodedMessage()">-->
      <!--<ion-icon name="filing"></ion-icon>-->
    <!--</ion-fab-button>-->
  <!--</ion-fab>-->

</ion-content>
